<header class="winnipeg text-white">
   <div class="container text-center">
      <img src="{{team_img_urls[6].url}}">
      <h1>Winnipeg Jets</h1>
      <p class="lead">L'alignement de l'equipe</p>
   </div>
</header>
<section id="alignement">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 mx-auto alignement">
            <!-- Search for players by name -->
            <h1 class="search-box-label">Rechercher</h1>
            <div class="search-box">
               <div class="input-group col-md-12">
                  <input type="text" class="search-query form-control" id="search_box" ng-model="searchFilter" placeholder="Rechercher un joueur dans l'alignement" />
                  <div class="input-group-append">
                     <span class="input-group-text">Rechercher</span>
                  </div>
               </div>
            </div>
            <h1>Gardiens</h1>
            <ul class="alignement-list">
               <!-- Start ng-repeat : List of goalkeepers -->
               <li ng-repeat="joueur in alignement | filter: { position: 'Gardien' } | filter:searchFilter" class="joueur isInjured(joueur)" ng-class="{'injured': joueur.phase_status == 'injured'}" data-player-id="{{joueur.id}}">
                  <div class="joueur-container flex-wrap d-flex align-self-center">
                     <div class="profil d-flex  align-self-center col-7">
                        <div class="flex-column custom-col">
                           <img alt="{{joueur.first_name}}  {{joueur.last_name}}" src="{{joueur.image['1'].url}}" style="display: inline-block;">
                        </div>
                        <div class="d-flex  align-self-center custom-col flex-column ">
                           <div class="info-rapide">
                              <span class="text-bold">
                              <span class="maillot">
                              {{joueur.position}} /
                              </span>
                              </span>
                              <span>{{joueur.height}} /</span>
                              <span>{{joueur.weight}} lbs</span>
                           </div>
                           <div class="info-joueur">
                              <span class="maillot">
                              <span>{{joueur.uniform_number}}</span>            
                              </span>
                              <p>
                                 {{joueur.first_name}}  {{joueur.last_name}}
                              </p>
                           </div>
                           <div class="info-statut" ng-if="joueur.phase_status == 'injured' ">
                              (Blessée)                          
                           </div>
                        </div>
                     </div>
                     <div class=" d-flex  align-self-center pull-right">
                        <button type="button" class="btn winnipeg" ng-click="loadPlayerProfile(joueur)">Voir le profil complet</button>
                     </div>
                  </div>
               </li>
               <!-- end of ng-repeat -->
            </ul>
            <h1>Défenseurs</h1>
            <ul class="alignement-list">
               <!-- Start ng-repeat : List of defenders -->
               <li ng-repeat="joueur in alignement | filter: { position: 'Défenseur' } | filter:searchFilter" class="joueur" ng-class="{'injured': joueur.phase_status == 'injured'}" data-player-id="{{joueur.id}}">
                  <div class="joueur-container flex-wrap d-flex align-self-center">
                     <div class="profil d-flex  align-self-center col-7">
                        <div class="flex-column custom-col">
                           <img alt="{{joueur.first_name}}  {{joueur.last_name}}" src="{{joueur.image['1'].url}}" style="display: inline-block;">
                        </div>
                        <div class="d-flex  align-self-center custom-col flex-column ">
                           <div class="info-rapide">
                              <span class="text-bold">
                              <span class="maillot">
                              {{joueur.position}} /
                              </span>
                              </span>
                              <span>{{joueur.height}} /</span>
                              <span>{{joueur.weight}} lbs</span>
                           </div>
                           <div class="info-joueur">
                              <span class="maillot">
                              <span>{{joueur.uniform_number}}</span>            
                              </span>
                              <p>
                                 {{joueur.first_name}}  {{joueur.last_name}}
                              </p>
                           </div>
                           <div class="info-statut" ng-if="joueur.phase_status == 'injured' ">
                              (Blessée)                          
                           </div>
                        </div>
                     </div>
                     <div class=" d-flex  align-self-center pull-right">
                        <button type="button" class="btn winnipeg" ng-click="loadPlayerProfile(joueur)">Voir le profil complet</button>
                     </div>
                  </div>
               </li>
               <!-- end of ng-repeat -->
            </ul>
            <h1>Ailiers Gauche</h1>
            <ul class="alignement-list">
               <!-- Start ng-repeat : List of left wingers -->
               <li ng-repeat="joueur in alignement | filter: { position: 'Ailier Gauche' } | filter:searchFilter" class="joueur" ng-class="{'injured': joueur.phase_status == 'injured'}" data-player-id="{{joueur.id}}">
                  <div class="joueur-container flex-wrap d-flex align-self-center">
                     <div class="profil d-flex  align-self-center col-7">
                        <div class="flex-column custom-col">
                           <img alt="{{joueur.first_name}}  {{joueur.last_name}}" src="{{joueur.image['1'].url}}" style="display: inline-block;">
                        </div>
                        <div class="d-flex  align-self-center custom-col flex-column ">
                           <div class="info-rapide">
                              <span class="text-bold">
                              <span class="maillot">
                              {{joueur.position}} /
                              </span>
                              </span>
                              <span>{{joueur.height}} /</span>
                              <span>{{joueur.weight}} lbs</span>
                           </div>
                           <div class="info-joueur">
                              <span class="maillot">
                              <span>{{joueur.uniform_number}}</span>            
                              </span>
                              <p>
                                 {{joueur.first_name}}  {{joueur.last_name}}
                              </p>
                           </div>
                           <div class="info-statut" ng-if="joueur.phase_status == 'injured' ">
                              (Blessée)                          
                           </div>
                        </div>
                     </div>
                     <div class=" d-flex  align-self-center pull-right">
                        <button type="button" class="btn winnipeg" ng-click="loadPlayerProfile(joueur)">Voir le profil complet</button>
                     </div>
                  </div>
               </li>
               <!-- end of ng-repeat -->
            </ul>
            <h1>Ailiers Droit</h1>
            <ul class="alignement-list">
               <!-- Start ng-repeat : List of right wingers -->
               <li ng-repeat="joueur in alignement | filter: { position: 'Ailier Droit' } | filter:searchFilter" class="joueur" ng-class="{'injured': joueur.phase_status == 'injured'}" data-player-id="{{joueur.id}}">
                  <div class="joueur-container flex-wrap d-flex align-self-center">
                     <div class="profil d-flex  align-self-center col-7">
                        <div class="flex-column custom-col">
                           <img alt="{{joueur.first_name}}  {{joueur.last_name}}" src="{{joueur.image['1'].url}}" style="display: inline-block;">
                        </div>
                        <div class="d-flex  align-self-center custom-col flex-column ">
                           <div class="info-rapide">
                              <span class="text-bold">
                              <span class="maillot">
                              {{joueur.position}} /
                              </span>
                              </span>
                              <span>{{joueur.height}} /</span>
                              <span>{{joueur.weight}} lbs</span>
                           </div>
                           <div class="info-joueur">
                              <span class="maillot">
                              <span>{{joueur.uniform_number}}</span>            
                              </span>
                              <p>
                                 {{joueur.first_name}}  {{joueur.last_name}}
                              </p>
                           </div>
                           <div class="info-statut" ng-if="joueur.phase_status == 'injured' ">
                              (Blessée)                          
                           </div>
                        </div>
                     </div>
                     <div class=" d-flex  align-self-center pull-right">
                        <button type="button" class="btn winnipeg" ng-click="loadPlayerProfile(joueur)">Voir le profil complet</button>
                     </div>
                  </div>
               </li>
               <!-- end of ng-repeat -->
            </ul>
            <h1>Centraux</h1>
            <ul class="alignement-list">
               <!-- Start ng-repeat : List of central players -->
               <li ng-repeat="joueur in alignement | filter: { position: 'Centre' } | filter:searchFilter" class="joueur"  ng-class="{'injured': joueur.phase_status == 'injured'}" data-player-id="{{joueur.id}}">
                  <div class="joueur-container flex-wrap d-flex align-self-center">
                     <div class="profil d-flex  align-self-center col-7">
                        <div class="flex-column custom-col">
                           <img alt="{{joueur.first_name}}  {{joueur.last_name}}" src="{{joueur.image['1'].url}}" style="display: inline-block;">
                        </div>
                        <div class="d-flex  align-self-center custom-col flex-column ">
                           <div class="info-rapide">
                              <span class="text-bold">
                              <span class="maillot">
                              {{joueur.position}} /
                              </span>
                              </span>
                              <span>{{joueur.height}} /</span>
                              <span>{{joueur.weight}} lbs</span>
                           </div>
                           <div class="info-joueur">
                              <span class="maillot">
                              <span>{{joueur.uniform_number}}</span>            
                              </span>
                              <p>
                                 {{joueur.first_name}}  {{joueur.last_name}}
                              </p>
                           </div>
                           <div class="info-statut" ng-if="joueur.phase_status == 'injured' ">
                              (Blessée)                          
                           </div>
                        </div>
                     </div>
                     <div class=" d-flex  align-self-center pull-right">
                        <button type="button" class="btn winnipeg" ng-click="loadPlayerProfile(joueur)">Voir le profil complet</button>
                     </div>
                  </div>
               </li>
               <!-- end of ng-repeat -->
            </ul>
         </div>
      </div>
   </div>
</section>
<!-- Footer -->
<footer class="py-5 bg-dark">
   <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Bell Media Exercise</p>
   </div>
   <!-- /.container -->
</footer>
